.link-unstyled {
    color: inherit;
    text-decoration: inherit;
}

.link-discreet {
    color: inherit;
    text-decoration: underline dotted;
}
.link-discreet:hover {
    color: inherit;
    text-decoration: underline;
}

.small-md {
    font-size: 85%;
}

textarea {
    resize: none;
}

@media (min-width: 1200px) {
    .small-md {font-size: 100%;}
}

html, body {
    scroll-behavior: smooth;
    height: 100%;
}

.nyc-bg {
    background-image: url("https://static.s5s.dev/media/msbdev/nyc5.jpg");
    background-position: 100%;
    background-size: cover;
    height: 100%;
    transition: all .5s ease-in-out;
    min-height: 400px;
}

.nyc-bg-2 {
    height: 100%;
    background-color: black;
    opacity: 65%;
}

.nyc-bg-3 {
    display: flex;
    height: 80%;
    justify-content: center;
    align-items: center;
}

.nyc-bg-link {
    filter: brightness(125%);
}

.arrow-div {
    position: absolute;
    bottom: 10px;
}

.nyc-bg-text {
    color: #dcdcdc;
}

#spacing-top {
    transition: all .5s linear;
}

.hide-horiz-overflow {
    overflow: hidden;
}

.arrow {
    color: #dcdcdc;
    text-align: center;
    margin: 8% 0;
    display: none;
}

.bounce {
    -moz-animation: bounce 2s infinite;
    -webkit-animation: bounce 2s infinite;
    animation: bounce 2s infinite;
}

.headshot {
    width: 204px;
    height: 204px
}

@keyframes bounce {
    0%, 20%, 50%, 80%, 100% {
        transform: translateY(0);
    }
    40% {
        transform: translateY(-30px);
    }
    60% {
        transform: translateY(-15px);
    }
}